<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Tech Blog</title>
		<link rel="stylesheet" href="/css/jass.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<div class="flex-column justify-space-around">
			<header class="heading">
				<h1>
					<span role="img" aria-label="dragon">&#128009</span>
					<a href="/">The Tech Blog</a>
				</h1>

				<nav>
					<button><a href="/">Home</a></button>
					<button><a href="/profile">Dashboard</a></button>
					<!-- Conditionally render login or logout links -->
					{{#if logged_in}}
						<button class="no-button" id="logout">logout</button>
					{{else}}
						<button><a href="/login">login</a></button>

					{{/if}}
				</nav>
			</header>

			<main>

				<!-- Render the sub layout -->
				{{{body}}}

			</main>
			<footer>

			</footer>
		</div>

		<!-- Render script for logged in users only -->
		{{#if logged_in}}
			<script src="/js/logout.js"></script>
		{{/if}}
	</body>
</html>