<div class="col-md-4 container container-fluid mt-5">
	<h2 class="text-center">New Blog</h2>
	<form class="form create-form">
		<div class="form-group">
			<label for="title-create">Blog Title:</label>
			<input class="form-input" type="text" id="title-create" />
		</div>
		<div class="form-group">
			<label for="email-signup">Blog Contents:</label>
			<input class="form-input" type="text" id="content-create" />
		</div>
		<div class="form-group">
			<button
				class="btn btn-primary col-md"
				id="create-blog"
				type="submit"
			>Create Blog</button>
		</div>
	</form>
</div>

<script src="./js/create.js"></script>